@use "reset";

:root {
  --background: 255, 255, 255;
  --header-height: var(--sl-spacing-x-large);
}

html {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  letter-spacing: var(--sl-letter-spacing-normal);
  line-height: var(--sl-line-height-dense);
  background-color: rgb(var(--background));
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
}

header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  background: var(--sl-color-primary-600);
  color: var(--sl-color-primary-50);
  z-index: 100;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 100%;

  --row-gap: var(--sl-spacing-x-small);
  --col-gap: var(--sl-spacing-x-small);

  --col-width: calc(calc(100% - var(--col-gap)) / var(--grid-columns));
  --row-height: calc(
    calc(calc(100vh - var(--header-height)) - var(--row-gap)) / var(--grid-rows)
  );
}

.blockgrid {
  width: 100%;
  height: calc(calc(var(--row-height) * var(--grid-height)) + var(--row-gap));
  position: relative;

  .block {
    position: absolute;
    top: calc(var(--row-gap) + calc(var(--block-y) * var(--row-height)));
    left: calc(var(--col-gap) + calc(var(--block-x) * var(--col-width)));

    height: calc(
      calc(var(--block-height) * var(--row-height)) - var(--row-gap)
    );
    width: calc(calc(var(--block-width) * var(--col-width)) - var(--col-gap));
  }

  .droptarget {
    position: absolute;
    top: calc(
      calc(var(--row-gap) / 2) + calc(var(--block-y) * var(--row-height))
    );
    left: calc(
      calc(var(--col-gap) / 2) + calc(var(--block-x) * var(--col-width))
    );

    height: calc(var(--block-height) * var(--row-height));
    width: calc(var(--block-width) * var(--col-width));
  }

  .block {
    background-color: rgb(var(--background));
    border: 1px solid var(--sl-color-primary-500);
    border-radius: var(--sl-border-radius-small);
    transition-property: width, height, top, left;
    transition-timing-function: ease-in-out;
    transition-duration: var(--sl-transition-slow);

    & > .header {
      background: var(--sl-color-primary-200);
      color: var(--sl-color-primary-900);
      border-bottom: 1px solid var(--sl-color-primary-500);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-inline: var(--sl-spacing-2x-small);

      .dragHandle {
        cursor: grab;
      }

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--sl-spacing-2x-small);
      }
    }
  }
}
