@use "reset";

main {
  display: relative;
  width: 100vw;
}

.blockgrid {
  display: grid;
  width: 100%;
  gap: var(--sl-spacing-x-small);
  padding: var(--sl-spacing-x-small);
}

.blocks {
  position: absolute;
  inset: 0;

  .block {
    border: 1px solid black;
    transition-property: width, height, top, left;
    transition-timing-function: ease-in-out;
    transition-duration: var(--sl-transition-slow);

    & > .title {
      background: rgb(200, 200, 200);
      border-bottom: 1px solid black;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.metrics {
  position: absolute;
  inset: 0;

  .col1 {
    grid-column-start: 1;
  }

  .col2 {
    grid-column-start: 2;
  }

  .row2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
